:root {
  --milkThemeDarkColor: #1e394d;
  --DarklinkColor: #ec9f19;
  --DarklinkColorHover: #bd7f14;
}

[data-bs-theme="dark"] .chrDesc .tableBg {
  background-color: var(--milkThemeDarkColor);
}
[data-bs-theme="dark"] .chrImgDisp .carousel-indicators [data-bs-target] {
  background-color: #fff;
}
[data-bs-theme="dark"] .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel-control-next-icon {
  filter: unset !important;
}
[data-bs-theme="dark"] a {
  color: var(--DarklinkColor);
  text-decoration: none;
}
[data-bs-theme="dark"] a:hover {
  color: var(--DarklinkColorHover);
  text-decoration: underline;
}
